<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>tincan - Breaking language barriers</title>

  <!-- Bootstrap Core CSS -->
  <link href="templates/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="templates/lib/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="templates/lib/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="templates/lib/device-mockups/device-mockups.min.css">

  <!-- Theme CSS -->
  <link href="templates/css/app.min.css" rel="stylesheet">
</head>

<body id="page-top">

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
        <a class="navbar-brand page-scroll" href="#page-top"><img href="templates/img/icon.png">tincan</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#about">About</a>
          </li>
          <li>
            <a class="page-scroll" href="#join">Get Started</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="header-content">
            <div class="header-content-inner text-center">
              <h1>It's time to break the language barrier.<br>
                              Connect with people around the world who's learning the same language as you.</h1>
              <a href="#about" class="btn btn-outline btn-xl page-scroll">Get started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="about" class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h2>Meet new people. Learn a new language.</h2>
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img href="templates/img/screenshots/call-screen.png" class="img-responsive" alt=""> </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="icon-people text-primary"></i>
                  <h3>Meet people from around the country</h3>
                  <p class="text-muted">We'll match you with someone who's practicing the same language as you. This person can be your neightbor or someone in a different continent.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="icon-phone text-primary"></i>
                  <h3>Use your phone to make calls</h3>
                  <p class="text-muted">Thanks to Twilio's API we can connect your call with anyone around the US. And soon you'll be able to connect with anyone in the world!</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="icon-bubbles text-primary"></i>
                  <h3>Send us a text to get started</h3>
                  <p class="text-muted">The easiest way to interact with the app is using text messages. Just send us a text and we will find you a partner to start practicing soon.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="icon-lock text-primary"></i>
                  <h3>Your personal information is yours</h3>
                  <p class="text-muted">We take personal privacy seriously and we belive that you should share only what you feel confortable sharing.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="join" class="download bg-primary text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="section-heading">Discover what all the buzz is about!</h2> <br><br>
        </div>
        <div class="col-md-6 center text-to-start">
          <div class="feature-item">
            <i class="icon-bubble text-primary"></i>
            <h3>Text <code>start</code> to <b>+1 (510) 447-1108</b> </h3>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
          <img href="templates/img/screenshots/message-screen.png" class="text-center img-responsive img-text" alt="">
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="contact ">
    <div class="container">
      <h2>Made with <i class="fa fa-heart"></i> by</h2>
      <ul class="list-inline">
        <li>
          <a href="https://github.com/BnkColon"><img class="profile-pic" href="templates/img/profile-images/Bianca.png"></a>
        </li>
        <li>
          <a href="https://github.com/mandemeskel"><img class="profile-pic" href="templates/img/profile-images/Michel.png"></a>
        </li>
        <li>
          <a href="https://github.com/miguelmolina95"><img class="profile-pic" href="templates/img/profile-images/Miguel.png"></a>
        </li>
        <li>
          <a href="https://github.com/samyanez94"><img class="profile-pic" href="templates/img/profile-images/Sam.png"></a>
        </li>
        <li>
          <a href="https://github.com/teresaibarra"><img class="profile-pic" href="templates/img/profile-images/Teresa.png"></a>
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2017 Team Tincan. All Rights Reserved.</p>
      <ul class="list-inline">
        <li>
          <a href="#">Privacy</a>
        </li>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="https://github.com/miguelmolina95/tincan"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- jQuery -->
  <script href="templates/lib/jquery/jquery-1.12.4.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script href="templates/lib/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <!-- Theme JavaScript -->
  <script href="templates/js/app.min.js"></script>

</body>

</html>
